<header id="header">
  <h1 id="company-name">Slave to the Sea Photography</h1>
  <p class="description">
    Welcome to our online portfolio. We are a global group of surf photographers with a passion for the sea.
    Here, we showcase some of our best shots from around the world.
  </p>
</header>