<header id="header">
  <a href="/">
    <h1 id="company-name">Slaves to the Sea</h1>
  </a>
  <div class="description">
    Welcome to our online portfolio. We are a global group of surf photographers with a passion for the sea.
    Here, we showcase some of our best shots from around the world.
  </div>
</header>