<img src="https://cdn-az.allevents.in/banners/1a6c2206b0ec6292c37719b69f38fcd4-rimg-w1160-h533-gmir.jpg" alt="a wave at sunset"
  id="banner">

<div id="main">
  {{#each photoList}}
  <div class="card">
    <a href="/gallery/{{id}}">
      <img src="{{link}}" alt="A photograph of the sea" class="photo"> <br>
    </a>
    {{title}} -- <br>
    {{author}}
  </div>
  {{/each}}
</div>
</div>