<div class="error">
  {{message}}
</div>


<h2>Add New Photo:</h2>
<form action="/gallery" method="POST" enctype="application/x-www-form-urlencoded">
  Link: <input type="text" name="link"> <br>
  Title: <input type="text" name="title"> <br>
  Author: <input type="text" name="author"> <br>
  Description: <br>
  <textarea type="textArea" rows="50" columns="50" name="description"></textarea> <br>
  <input type="submit">
</form>