<div class="error">
  {{message}}
</div>
<div class="new-page">
  <h2>Add New Photo:</h2>
  <form class="new-form" action="/gallery" method="POST" enctype="application/x-www-form-urlencoded">
    Link: <input type="text" name="link"> <br>
    Title: <input type="text" name="title"> <br>
    Author: <input type="text" name="author"> <br>
    Description: <br>
    <textarea class="description" type="textArea" name="description"></textarea> <br>
    <input type="submit">
  </form>
</div>